body {
    background-color: #001219;
    font: 1em/1.5 "DM Sans", sans-serif;
    width: 100%
}

.profile_button {
    margin-top: 3% !important
}

a {
    font-size: 15.5893 !important;
}
.social-links a {
    font-size: 10.3929px !important;
}
.header {
    width: 15% !important
}
.logo a {
    font-size: 27.7143px !important
}
.ui.segment.place {
    margin-left: -30% !important;
    width: 60%;
}

.ui.fluid.card {
    width: 85% !important;
}
html {
    overflow: hidden !important;
}
.search {
    font-size: 14px;
}
.avatarka {
    height: 174.94px
}
.avatarka p {
    height: 18.4px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
p {
    line-height: 1.4285em !important;
}

.search__input {
    width: 180.14px;
    height: 31.18px;
    padding: 1.75px 33.25px 1.75px 10.5px
}
.nav {
    border-radius: 0px;
    padding: 10px 0 10px 0;
    background-color: black;
}

.mb-7 {
    margin-bottom: 7px;
}

.mt-5 {
    margin-top: 5px;
    word-break: break-all;

}

.mymodal {
    height: 300px;
    top: 200px;
    font-size: 20px;
}

.mb-5 {
    margin-bottom: 5px;
}

.w-big {
    width: 280px;
}

.bwhite-lg {
    background-color: transparent;
}

.bwhite-sm {
    background-color: transparent;
    width: 10px;
}

.post-content {
    margin-bottom: 25px;
}

.img-src {
    height: auto;
    width: 100%;
}

.navbar {
    position: fixed;
    top: 0px;
    z-index: 9;
    width: 100%;
    padding: 20px 0;
}

.mt-100 {
    margin-top: 100px;
}

.delete-cmt-btn {
    background: none;
    border: none;
    padding: 0;
    font-family: arial, sans-serif;
    color: gray;
    text-decoration: underline;
    cursor: pointer;
}