body {
    background-color: #001219;
}

.nav {
    border-radius: 0px ;
    padding: 10px 0 10px 0 ;
    background-color: black ;
}

.mb-7 {
    margin-bottom: 7px ;
}

.mt-5 {
    margin-top: 5px ;
    word-break: break-all;

}

.mymodal {
    height: 300px ;
    top: 200px ;
    font-size: 20px ;
}

.mb-5 {
    margin-bottom: 5px ;
}

.w-big {
    width: 280px;
}

.bwhite-lg {
    background-color: transparent ;
}

.bwhite-sm {
    background-color: transparent ;
    width: 10px ;
}

.post-content{
    margin-bottom: 25px;
}

.img-src {
    height: 400px;
    width: 550px;
}

.navbar {
    position: fixed; 
    top: 0px; 
    z-index: 9;
    width: 100%;
    padding: 20px 0;
}

.mt-100 {
    margin-top:100px;
}

.delete-cmt-btn {
    background: none;
    border: none;
    padding: 0;
    font-family: arial, sans-serif;
    color: gray;
    text-decoration: underline;
    cursor: pointer; 
}
