{% extends "base.html" %}
{% block title %}
    Вход
{% endblock title %}
{% block body %}
<body style=" display: flex; justify-content: space-around;">
    <header class="header" role="banner" style="z-index: 1000000;">
        <h1 class="logo">
            <a href="/">IvanK</a>
        </h1>
        <div class="nav-wrap">
            <nav class="main-nav" role="navigation">
                <ul class="unstyled list-hover-slide">
                    <li><a href='{% url "login" %}'>Вход</a></li>
                    <li><a href='{% url "register" %}'>Регистрация</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="login_section">
        <form method="POST" action="#">
            <h1 style="font-size: 2rem; color: #fff; text-align: center;">Вход</h1>
            <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="text" name="username" required>
                <label for="" name="username">Имя пользователя</label>
            </div>
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input type="password" name="password" required>
                <label name="password" for="">Пароль</label>
            </div>
            <button type="submit">Войти</button>
            {% if errors %}
            {% for error in errors %}
            <h4 style="color: rgb(152, 28, 28); text-align: center; margin-top: 7%;">{{error}}</h4>
            {% endfor %}
            {% endif %}
            <div class="register">
                <p>Не создал аккаунт<br> <a href='{% url "register" %}'>Регистрация</a></p>
            </div>
            {% csrf_token %}
        </form>
        <!-- <form method="POST" action="#">
            {{form}}
            {% csrf_token %}
            <button type="submit">Log in</button>
        </form> -->
    </section>
</body>
</html>
{% endblock body %}